.Flex {
  display: flex;
}

.width {
  flex: 1 1 auto;
  width: 100%;
}
.height {
  height:100%;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignStretch {
  align-items: stretch;
}

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}
.directionRowReverse {
  flex-direction: row-reverse;
}

.gap5 {
  gap: 5px;
}

.gap10 {
  gap: 10px;
}

.gap15 {
  gap: 15px;
}

.gap20 {
  gap: 20px;
}

.gap25 {
  gap: 25px;
}

.gap30 {
  gap: 30px;
}
.gap35 {
  gap: 35px;
}

.wrap {
  flex-wrap: wrap;
}
