.dark {
  //background color
  --bg-color-primary:#1E1E1EFF;
  --bg-color-secondary: #262626;

  //accent color
  --color-accent:#409fff;

  //text color
  --text-color-primary:#fff;
  --text-color-secondary:#8e8e8e;
}
